<div class="canvas">
  <div class="top">
    <nav class="container">
      <a href="/"><div class="nav-left">
        <div class="logo-image">
          <img src="{{ site.baseurl }}/static/img/avatar.png">
        </div>
        <p>Aribe</p>
      </div></a>
      <div class="menu">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="bottom"></div>
  <div class="left"></div>
  <div class="right"></div>
</div>
